@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body{
  min-height: 100vh;
}

.section-main{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #5E0DE0;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
  display: flex;
  flex-direction: column; 
}

.section-main h1{
  padding: 1rem 2rem;
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 80px;
  color: rgba(255, 255, 255, 0.5);
  border: 10px solid rgba(255, 255, 255, 0.5);
}

.section-main p {
  margin-top: 1.5rem;
  width: 50%;
  color: white;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  z-index: 999;
  transition: 0.6s;
}

header.sticky{
  background-color: #4a0fa8;
  padding: 15px 100px;
}

header .brand{
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

header .brand:hover {
  color: rgb(192, 192, 192);
}

header .menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .menu a {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  margin: 0 5px;
  padding: 5px 15px;
  text-transform: uppercase;
  border-radius: 15px;
  transition: 0.5s;
  transition-property: color, background;
}

header .menu a:hover{
  color: #000;
  background: #fff;
}
header .btn{
  font-size: 25px;
  cursor: pointer;
  color: #fff;
  display: none;
}
.latest-blog {
  min-height: 100vh;
  background: #222;
  padding: 20px 100px;
  display: flex;
  flex-direction: column;
}

.latest-blog h2{
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0;
  color: rgba(255, 255, 255, 0.8);
}

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.box-latest {
  color: white;
  width: 33%;
  padding-bottom: 1rem;
}

.box-latest .judul-blog {
  font-size: 30px;
}

.box-latest .caption {
  color: rgba(255, 255, 255, 0.5);
}

.box-latest .judul-blog,
.box-latest .caption {
  padding: 0 1.2rem;
  width: 100%;
}

.kotak {
  width: 20rem;
  height: 13rem;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px 10px;
}

footer {
  height: 50vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

section h3 {
  color: white;
}

.navigasi ul {
  list-style: none;

}
.navigasi ul li a {
  text-decoration: none;
  color: rgb(189, 189, 189);
}
.navigasi ul li a:hover {
  color: rgb(151, 151, 151);
}
.contact {
  display: flex;
  flex-direction: column;
  color: rgb(189, 189, 189);
}

.contact .fas {
  margin-right: 15px;
}

.socials {
  display: flex;

}
.socials .item {
  background-color: rgb(255, 255, 255, .3);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials .fab {
  font-size: 30px;
  color: white;
}

.copyright {
  text-align: center;
  color: white;
}





@media (max-width: 1024px) {
  header .btn{
    display: block;
  }

  header .menu.active{
    right: 0;
  }

  header .menu{
    position: fixed;
    background: #a81b24;
    flex-direction: column;
    min-width: 400px;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 80px 50px;
    transition-property: right;
    transition: 0.5s;
  }

  header .menu .close-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
  }

  header .menu a{
    display: block;
    font-size: 16px;
    margin: 20px;
    padding: 0 15px;
  }
}

@media (max-width: 580px) {
  .section-main h1{
    font-size: 50px;
    line-height: 60px;
  }
}